@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Access Denied";
}

@await  Html.PartialAsync("_navigation")

<h1>403 - You do not have access to this page</h1>